<nav class="_flex-box  navbar">
  <img class="logo" src="../assets/simens.png" />
  <div class="_flex-box tab-group">
    <div class="tab" [routerLink]="['user-registration']" routerLinkActive="active">
      Registration
    </div>
    <div class="tab" [routerLink]="['user-details']" routerLinkActive="active">
      Users List
    </div>
  </div>
  <img class="_ml-auto user-icon" src="../assets/user-icon.jpeg" />
</nav>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div><span>&#169;</span> Copyright</div>
  <div>{{currentDate | date: 'MMMM, y'}}</div>
</footer>
