/* You can add global styles to this file, and also import other style files */

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  outline: none;
}

._flex-box {
  display: flex;
  align-items: center;
}

._ml-auto {
  margin-left: auto;
}


